-content_for :title do
  补全快速连接账号的注册信息

-require_css 'views/users'

.grid_14.alpha
  .grid-title
    当前登录账号是快速连接账号<br/>补全注册信息后，就可以像正式账号一样从首页登录啦~

  .padding5
    .p.font14
      您目前登陆的账号是快速连接账号(#{current_user.account_type})
    .p.font14.marginb30
      补充邮箱地址和登录密码来转为MindPin正式账号

    = flash_info
    - mindpin_form_for current_user,:url=>"/account/do_setting_email",:html=>{:method=>:post} do |f|
      .field
        %label 邮箱地址
        = text_field :user,:email,:value=>'',:maxlength=>32,:class=>'text'
      .field
        %label 密码
        = password_field :user,:password,:value=>'',:maxlength=>32,:class=>'text'
      .field
        %label 确认密码
        = password_field :user,:password_confirmation,:value=>'',:maxlength=>32,:class=>'text'
      = f.submit '补充完毕'

.grid_4.omega.fright
  =render :partial=>'account/parts/account_links'