.grid_15.alpha
  = flash_info
  %div
    %span 假如你要和已有 Mindpin 账号绑定
    =link_to "请点这里","/account/rebind"
  - mindpin_form_for current_user,:url=>"/account/do_setting_email",:html=>{:method=>:post} do |f|
    .field
      %label 邮箱地址
      = text_field :user,:email,:value=>'',:maxlength=>32,:class=>'text'
    .field
      %label 密码
      = password_field :user,:password,:value=>'',:maxlength=>32,:class=>'text'
    .field
      %label 确认密码
      = password_field :user,:password_confirmation,:value=>'',:maxlength=>32,:class=>'text'
    = f.submit t('page.account.base.from_submit')
