-# 传入 weibo_user_id
:ruby
  tp_asset = weibo_user_id.to_i % 4 + 1
  user_avatar_url = "http://tp#{tp_asset}.sinaimg.cn/#{weibo_user_id}/50/1"

.page-web-weibo-toolbar
  %a.home-tl{:href=>'/weibo', :title=>'微博首页'} <img src="#{user_avatar_url}"/>
  %a.ti.atmes{:href=>'/weibo/atmes'} <div class='icon'></div>
  %a.ti.comment{:href=>'/weibo/comments/tome'} <div class='icon'></div>
  %a.ti{:href=>"/weibo/contacts/#{weibo_user_id}/friends"} 我的关注
  %a.ti{:href=>"/weibo/contacts/#{weibo_user_id}/followers"} 我的粉丝
  %a.ti{:href=>"/weibo/cart"} 我的收集