- require_css 'views/users',true

.grid_13.push_5
  -if !@user.blank?
    = flash_info
    .grid-title
      为 #{@user.email} 重设密码
    .padding5
      %p.font14
        请在下面
        %span.loud> 输入您的新密码并点击“确定”
        ，MindPin系统将根据您输入的新密码重新设置你的登录密码。
      - mindpin_form_for @user,:url=>change_password_path(:pw_code=>params[:pw_code]) do |f|
        = f.password_field :password,:size=>25,:maxlength=>255
        = f.password_field :password_confirmation,:size=>25,:maxlength=>255
        = f.submit "确定",:class=>"ui-button"
  -else
    .flash-error
      %span 指定请求重设密码的用户不存在
    .padding5
      %p.font14
        如果您是由重设密码邮件包含的链接点击而来，可能该邮件包含的链接已经过期。
        请尝试重新进行#{link_to '找回密码',forgot_password_form_path}操作。

      = return_to_homepage_link