- require_css 'views',true

.grid_12.push_6
  .dialog
    -if !@user.blank?
      = flash_info
      %h3= "#{@user.email} 重设密码"
      %p.font13
        请在下面
        %span.loud> 输入您的新密码并确定
        ，MindPin系统将把您的登录密码重设为您输入的新密码。
      - mindpin_form_for @user,:url=>change_password_path(:pw_code=>params[:pw_code]) do |f|
        = f.password_field :password,:size=>25,:maxlength=>255
        = f.password_field :password_confirmation,:size=>25,:maxlength=>255
        = f.submit "确定",:class=>"ui-button"
    -else
      .flash-error
        %span 指定请求重设密码的用户不存在
      =link_to '返回首页',pin_url_for('pin-user-auth')