= require_lib_js
= require_mindpin_js

-session_key = ActionController::Base.session_options[:key]
:javascript
  //将auth_token保存在变量中，将来作某些全页面缓存时，应考虑如何兼顾这里
  pie.env = '#{RAILS_ENV}'
  pie.auth_token = encodeURIComponent('#{u form_authenticity_token if protect_against_forgery?}')
  pie.session_key = '#{session_key}'
  pie.session_value = encodeURIComponent('#{u cookies[session_key]}')
  pie.current_user_id = '#{logged_in? ? current_user.id : ''}'

= yield :javascript
= yield :javascripts

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24498504-1']);
  _gaq.push(['_setDomainName', '.mindtu.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();