-content_for :title do
  #{@user.name}的联系人

-content_for :javascripts do
  = javascript_include_tag "views/follows"
  = javascript_include_tag "views/follows_channel"

  = javascript_include_tag 'views/member_auto_complete_load'
  :javascript
    pie.load(function(){
      var cac = new pie.ContactAutoComplete('#contact_email');
      jQuery('.add-member-form .inline-button').bind('click',function(){
        cac.add_member_submit();
      });
    });


.grid_18.alpha
  .grid-title
    %span.loud>#{@user.name}
    的联系人，共#{@followings.count}人

  .homepage-see-others
    =link_to "&gt;&gt;返回#{@user.name}的个人页","/users/#{@user.id}"

  -if logged_in? && @user == current_user
    .add-member-form.form.darkbg
      .tip 输入邮箱或用户名，添加联系人
      = text_field_tag 'contact[email]',"",:size=>25,:maxlength=>255,:class=>'marginr5 inline text'
      = submit_tag "添加",:class=>'inline-button'
      .add-member-info

  =render :partial=>"contacts/manage/mplist_followings_users",:locals=>{:users=>@followings}

  .padding5
    = will_paginate @followings

.grid_5.omega.fright
  =render :partial=>"contacts/manage/setting_links"

