.page-olist.mindmaps
  -if mindmaps.blank?
    .push_3.grid_5.list-blank 目前还没有思维导图，创建一个吧
  -else
    -mindmaps.each do |mindmap|

      -mindmap_id = mindmap.id
      -creator = mindmap.user
      -title = h mindmap.title
      -info_url = "/mindmaps/#{mindmap_id}/info"
      -edit_url = "/mindmaps/#{mindmap_id}/edit"
      -view_url = "/mindmaps/#{mindmap_id}"

      -thumb_size = mindmap.large_thumb_image_true_size
      -thumb_width, thumb_height = thumb_size[:width], thumb_size[:height]

      -fav_count = mindmap.fav_users.count
      -is_faved  = mindmap.faved_by?(current_user)
      -fav_class = is_faved ? 'faved' : 'not-faved'

      -is_owner   = (creator == current_user)

      -is_private    = mindmap.private?
      -private_class = is_private ? 'private' : 'public'

      -has_co_worker   = mindmap.cooperate_users.count > 0
      -cooperate_users = mindmap.cooperate_users

      .mindmap{:'data-id'=>mindmap_id}
        .grid_3.alpha
          .m-avatar
            -link_to creator do
              =avatar creator
          .m-ops
            -if is_owner
              %a.edit{:href=>edit_url,:target=>'_blank',:tipr=>'打开在线编辑'}
              %a.do-private{:href=>'javascript:;',:class=>private_class,:tipr=>'切换公开/私有'}
              %a.delete{:href=>'javascript:;',:tipr=>'删除'}
            -else
              %a.view{:href=>view_url,:target=>'_blank',:tipr=>'在编辑器中查看'}

            -if logged_in?
              .fav-star
                %a.do-fav{:href=>'javascript:;',:class=>fav_class,:tipr=>'加星'}
                .count-arrow
                .count=fav_count
            

        .arrow
        .grid_14.omega
          .box
            .creator
              .name=usersign creator
              .created-at=link_to jtime(mindmap.created_at),info_url

            .title=link_to title,info_url

            .data
              %a.refresh-thumb{:href=>'javascript:;',:tipr=>'刷新缩略图'} <div class='icon'></div>
              .thumb{:style=>"width:#{thumb_width}px;height:#{thumb_height}px;"}
                -link_to info_url do
                  =mindmap_image(mindmap,"500x500")

            -if has_co_worker
              .coop-users
                .desc 协作编辑者：
                -cooperate_users.each do |u|
                  .avatar
                    -link_to u,:tip=>u.name do
                      =avatar u,:tiny

            =render 'mindmaps/list/download',:mindmap=>mindmap
            =render 'mindmaps/list/share',:mindmap=>mindmap
