-#use 邮件邀请人参加主题

%div
  #{@sender.name}说：

%div
  我向你推荐来自MindPin的这个讨论主题：

<br/>
%div
  #{@feed.content}
<br/>

%div
  -url = pin_url_for("user_auth","/feeds/#{@feed.id}")
  访问地址 #{link_to url,url,:target=>'_blank'}

%div
  #{@postscript}

=render :partial=>'footer'
