%div
  %b.highlight 图片
  %span -
  %span=link_to 'PNG',pin_url_for("pin-mev6","/mindmaps/#{mindmap.id}.png"),:target=>'_blank'

%div
  %b.highlight MindManager
  %span -
  %span=link_to 'MMAP',pin_url_for("pin-mev6","/mindmaps/#{mindmap.id}.mmap")

%div
  %b.highlight FreeMind8
  %span -
  %span=link_to 'MM',pin_url_for("pin-mev6","/mindmaps/#{mindmap.id}.mm?v=8")

%div
  %b.highlight FreeMind9
  %span -
  %span=link_to 'MM',pin_url_for("pin-mev6","/mindmaps/#{mindmap.id}.mm?v=9")

%div
  %b.highlight Word
  %span -
  %span=link_to 'DOC',pin_url_for("pin-mev6","/mindmaps/#{mindmap.id}.doc")