.page-user-mindmaps
  -if mindmaps.blank?
    .empty 目前还没有思维导图
  -else
    -mindmaps.each do |mindmap|
      .mindmap-m{:'data-id'=>mindmap.id}
        .m
          .title=link_to mindmap.title,"/mindmaps/#{mindmap.id}/info"
          -size = mindmap.thumb_image_true_size
          .thumb{:style=>"width:#{size[:width]}px;height:#{size[:height]}px;"}
            -link_to "/mindmaps/#{mindmap.id}/info" do
              =mindmap_thumb(mindmap)

          .foot-misc
            .ops.hide
              -if mindmap.user==current_user
                =link_to '编辑导图',pin_url_for('pin-mev6',"/mindmaps/#{mindmap.id}/edit"),:target=>'_blank'

                %span.split.quiet> -
                -klass = mindmap.private ? 'private':'public'
                -link_to 'javascript:;',:'data-map-id'=>mindmap.id,:class=>"toggle #{klass}" do
                  %span.icon>
                  切换
                  %span.p1> 公开
                  %span.p2> 私有

                %span.split.quiet> -
                =link_to '删除','javascript:;',:class=>'delete'

            .creator
              .avatar
                =avatar mindmap.user