.map-meta
  %h4
    =link_to truncate_u(mindmap.title,9),mindmap,:target=>'_blank',:title=>mindmap.title

  .map-params-div
    %span.marginr5= userlink(mindmap)
    %span= show_time_by_order_type @order,mindmap

.map-data.clearfix
  .mapthumb-box
    .image_center_div.mapthumb
      %p
        %img{:src=>"#{IMAGE_CACHE_SITE}/#{mindmap.id}.thumb.png"}
  .maprankbg
    .rank= mindmap.rank

  -if logged_in?
    .clone-btn
      .clone-link
      =link_to_remote "å¤åˆ¶",:url=>clone_form_mindmap_path(mindmap),:method=>:get