-require_css 'notes'

.secondary
  .marginb10
    =minibutton '生成索引','/search/index',:method=>:post
  .marginb3em
    %form{:action=>"/search",:method=>"get",:id=>"search_form"}
      %input.search-inner.text{:name=>"q",:type=>"text"}
      %input.search-button{:value=>"搜索",:type=>"submit"}

  .owner
    .avatar
      =avatar @note.user,:tiny
    .name
      %span.bold=@note.user.name
      (所有者)

  -if @note.fork_from
    - fid = @note.fork_from[:note_id]
    - femail = @note.fork_from[:email]
    .top-bar.clearfix
      %h3 复制自
    .clearfix
      =link_to "#{fid}号资料","/notes/#{fid}"
      by
      =femail
    %br

  .top-bar.clearfix
    %h3 版本列表
  .revisions
    %ul
      -@note.commits.each do |commit|
        %li
          =show_commit @note,commit

  %br

  .top-bar.clearfix
    %h3 完整版本列表
  .revisions
    %ul
      -@note.ref_commits.each do |commit|
        %li
          =show_commit @note,commit

.main
  .repo{:class=>@note.private?? "private":"public"}
    .title
      %h3
        -if @note.private?
          ="私有资料:#{@note.nid}"
        -else
          ="#{@note.nid}号资料"
      .actions
        -if @can_edit
          =minibutton "编辑","/notes/#{@note.nid}/edit"
        =minibutton "下载",note_commit_download_path(:note_id=>@note.nid,:commit_id=>@commit_id)
        -if logged_in?
          -if current_user.star_note?(@note)
            =minibutton "去星标","/unstar/#{@note.nid}",:method=>:delete
          -else
            =minibutton "加星标","/star/#{@note.nid}",:method=>:post
        -if @can_edit
          =minibutton "上传文件","/upload_page/#{@note.nid}"
        -if @can_rollback
          =minibutton "回滚到此版本","/notes/#{@note.nid}/rollback/#{@commit_id}",:method=>:put,:confirm=>'确实要回滚到这个版本吗？'
        -if @can_fork
          =minibutton "FORK","/notes/#{@note.nid}/fork",:method=>:post

      .icon
        =@note.private? ? "私有" : "公开"
    .revision_id.loud
      -if @can_edit
        最新版本
      -else
        版本号 #{@commit_id}
    .meta
      %dl
        %dt 资料描述
        %dd=@note.description
      -if !@note.private?
        %dl
          %dt URL
          %dd=pin_url_for('pin-notes',url_for(@note))
  .files-list
    -@blobs.each do |blob|
      -name = blob.basename
      -text = blob.data
      -mime_type = blob.mime_type
      .notefile{:id=>name}
        .meta
          %span.loud=name
          %span.quiet="(#{mime_type})"
          =link_to '#',"##{name}"
          .fright
            -if !@note.private?
              .embed
                -link_id = randstr
                =link_to '小组件','javascript:;',:onclick=>"jQuery('##{link_id}').hide().next().show();",:class=>'embed-link',:id=>link_id
                .embed-box{:style=>'display:none;'}
                  %input{:value=>"<script src='#{pin_url_for('pin-notes',"/notes/#{@note.id}.js?file=#{name}")}'></script>"}
        .data
          =show_blob(@note,blob)
  -if @can_delete
    .delete-note
      =link_to '删除当前资料',"/notes/#{@note.nid}",:method=>:delete,:confirm=>"将删除当前资料的所有版本，你确定吗？"

  .comments
    -if !@comments.blank?
      %h3
        #{@comments.count} 条评论
    -mplist @comments,:for=>Comment

  .comment-form
    -mindpin_form_for [@note,Comment.new],:url=>"/notes/#{@note.nid}/comments" do |f|
      =f.text_area :content,:id=>'new_comment_input'
      .fright
        =f.submit '增加评论'

