-require_css 'views/users',true

-content_for :title do
  我收到的评论

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

  - refresh_comment_tip
  = javascript_include_tag "views/notice/feed_notice"
  :javascript
    pie.misc_tip_info = #{misc_tip_info.to_json}

.grid_3.alpha
  =render :partial=>'index/index_parts/user_info',:locals=>{:user=>current_user}

.grid_14.paddingl20
  .grid-title
    其他人对我的评论
  .index-received-comments
    -@feed_comments.each do |c|
      .c.darkbg
        .avatar
          =avatar c.user,:tiny
        .meta
          .ct
            -if c.user.blank?
              %span.name.quiet 未知用户#{c.user_id}
            -else
              %span.name=link_to c.user.name,pin_url_for('pin-user-auth',"/users/#{c.user.id}")

            %span.loud 说
            %span.content “#{c.content}”
          .time
            =jtime c.created_at
          .feed-content
            -if c.feed.blank?
              被回应的话题已删除
            -else
              回应话题
              “#{truncate_u c.feed.content,32}”

  .paginate.padding5
    = will_paginate @feed_comments

.grid_4.omega.fright
  =render :partial=>'index/index_parts/feed_links'