-require_css 'views/users',true

-content_for :title do
  =truncate_u(@feed.content,12)

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"
  = javascript_include_tag "views/feed_show_operation"

  = javascript_include_tag 'views/member_auto_complete_load'
  :javascript
    pie.load(function(){
      var cac = new pie.FeedInviteComplete('.show-page-invite #contact_email',{
        feed_id:#{@feed.id}
      });
      jQuery('.show-page-invite .editable-submit').live('click',function(){
        cac.result();
      });
    });

=render 'auth/no_auth/welcome_to_signup'

-useless = @feed.hidden? && @feed.hidden_by_useless?

-if !useless || params[:show] == 'force'

  =render 'feeds/show_parts/show_page_head',:feed=>@feed

  .hrr
  .grid_17.alpha
    =render 'feeds/show_parts/feed_show',:feed=>@feed
    .hrr
    =render 'feeds/show_parts/feed_show_viewpoints',:feed=>@feed

  .grid_5.omega.fright
    .page-show-side-invite
      -if logged_in?
        .title 邀请其他人一起来讨论
        =render 'feeds/show_parts/invite_users',{:feed=>@feed}
      .invite-share
        =render 'feeds/show_parts/invite_share',{:feed=>@feed}
      =render 'feeds/show_parts/share_to',{:feed=>@feed}

    -if logged_in?
      -recommend_users = @feed.recommend_users - [current_user]
      -if !recommend_users.blank?
        .hrr
        .page-show-who-recommend
          .title 这些人也许可以参与讨论：
          -# 此处的js事件绑定在 member_auto_complete_load 里
          -recommend_users.each do |ru|
            .user.btb{:'data-id'=>ru.id}
              .invite=minibutton '邀请','javascript:;'
              .avatar
                =avatar ru,:mini
              .name
                =usersign(ru,false)


    .hrr
    .page-show-side-status
      .title 在此发表过观点的人
      .show-page-memoed-users
        -@feed.memoed_users.each do |u|
          %a.avatar{:href=>"/users/#{u.id}",:tip=>u.name}
            =avatar u,:mini

    .hrr
    .page-show-related-feeds
      .title 相关的主题
      -related_feeds = @feed.related_feeds
      -related_feeds.each do |f|
        .f.btb
          =link_to truncate_u(f.content,32),"/feeds/#{f.id}"

-else

  .padding5
    .feed-is-hidden-by-useless
      .icon
      .desc 此主题被认为不值得讨论或无意义/无价值，已被隐藏。

  .padding5
    =minibutton '我仍然想查看',"/feeds/#{@feed.id}?show=force",:style=>'margin-right:10px;'
    =link_to '算了，回首页吧',"/"