-#use 显示主题

-content_for :title do
  =truncate_u(@feed.content,12)

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"
  = javascript_include_tag "views/feed_show_operation"

  = javascript_include_tag 'views/member_auto_complete_load'
  :javascript
    pie.load(function(){
      var cac = new pie.FeedInviteComplete('.show-page-invite #contact_email',{
        feed_id:#{@feed.id}
      });
      jQuery('.show-page-invite .editable-submit').live('click',function(){
        cac.result();
      });
    });

=render 'auth/no_auth/welcome_to_signup'

-useless = @feed.hidden? && @feed.hidden_by_useless?

-if !useless || params[:show] == 'force'

  =render 'feeds/show_parts/show_page_head',:feed=>@feed

  .hrr

  .mside.grid_5
    =render 'feeds/show_parts/side',:feed=>@feed

  .main.grid_19.ll
    =render 'feeds/show_parts/feed_show',:feed=>@feed
    =render 'feeds/show_parts/feed_show_viewpoints',:feed=>@feed

-else

  .padding5
    .feed-is-hidden-by-useless
      .icon
      .desc 此主题被认为讨论目的/方向不明确，或无意义/无价值，或不值得讨论，已被隐藏。

  .padding5
    =minibutton '我仍然想查看',"/feeds/#{@feed.id}?show=force",:style=>'margin-right:10px;'
    =link_to '算了，回首页吧',"/"