-require_css 'views/users',true

-content_for :title do
  =truncate_u(@feed.content,12)

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"
  = javascript_include_tag "views/feed_show_operation"

  = javascript_include_tag "views/notice/feed_notice"
  :javascript
    pie.misc_tip_info = #{misc_tip_info.to_json}

  = javascript_include_tag 'views/member_auto_complete_load'
  :javascript
    pie.load(function(){
      var cac = new pie.FeedInviteComplete('.show-page-invite #contact_email',{
        feed_id:#{@feed.id}
      });
      jQuery('.show-page-invite .editable-submit').live('click',function(){
        cac.result();
      });
    });

.grid_17
  =render 'feeds/show_parts/feed_show',:feed=>@feed
  .hrr
  =render 'feeds/show_parts/feed_show_viewpoints',:feed=>@feed

.grid_5.omega.fright
  .grid-title 目前的参与者
  .show-page-memoed-users
    -@feed.memoed_users.each do |u|
      %a.avatar{:href=>"/users/#{u.id}",:tip=>u.name}
        =avatar u,:mini

  -if logged_in?
    .hrr
    .grid-title 邀请其他人参与
    =render 'feeds/show_parts/invite_users',{:feed=>@feed}

  .hrr
  .grid-title 相关话题
  .show-page-simlar-feeds
    -simlar_feeds = FeedLucene.similar_feeds_of(@feed)
    -simlar_feeds.each do |f|
      .f.btb
        =link_to truncate_u(f.content,32),"/feeds/#{f.id}"