-tsina_info = current_user.tsina_account_info
-avatar_url = tsina_info['profile_image_url']
-name = tsina_info['user_name']

-content_for :javascript do
  :javascript
    function create_submit(link){
      var elm = jQuery(link);
      var title = elm.closest('form').find('.mindmap-title').val();
      if(jQuery.string(title).blank()){
        elm.closest('form').find('.mindmap-title')
          .stop()
          .animate({'background-color':'#ffeeee'},100)
          .animate({'background-color':'#ffffff'},100)
          .animate({'background-color':'#ffeeee'},100)
          .animate({'background-color':'#ffffff'},100)
      }else{
        elm.closest('form').submit();
      }
    }

    pie.load(function(){
      jQuery(document).delegate('.page-tsina-app-tu .mindmaps .mindmap .del','click',function(){
        var elm = jQuery(this);
        var melm = elm.closest('.mindmap');
        var id = melm.attr('data-id');
        elm.confirm_dialog('确定要删除吗',function(){
          jQuery.ajax({
            url:'/mindmaps/'+id,
            type:'delete',
            success:function(){
              melm.fadeOut(400,function(){
                melm.remove();
              })
            }
          })
        })
      })
    })

.page-tsina-app-tu
  .box1
    .head
      .avatar
        %img{:src=>avatar_url}
      .name
      .logo-s
    .title 欢迎你，#{name}
    .new-form
      - mindpin_form_for(Mindmap.new,:url=>'/tsina_app/create_mindmap',:html=>{:multipart=>true}) do |f|
        .field
          %label 导图标题
          = text_field_tag :'mindmap[title]','',:class=>'text mindmap-title'
        .field
          = link_to '<span>开始编辑</span>','javascript:;',:class=>'create-submit',:onclick=>'create_submit(this)'
  -mindmaps = current_user.out_mindmaps_paginate(:page=>params[:page]||1,:per_page=>8)
  .mindmaps
    -i = 0
    -mindmaps.each do |mindmap|
      .mindmap{:class=>i.odd? ? 'odd':'',:'data-id'=>mindmap.id}
        -i = i + 1
        .t
          =link_to h(truncate_u(mindmap.title,10)),"/tsina_app/mindmaps/#{mindmap.id}/edit",:target=>'_blank'
        %a.del{:href=>'javascript:;',:tipr=>'删除'} x
        .img
          =mindmap_image(mindmap,"120x120")
        .post-to
          =minibutton '编辑',"/tsina_app/mindmaps/#{mindmap.id}/edit"
          -page_url = pin_url_for('pin-daotu',"/mindmaps/#{mindmap.id}/info")
          -page_title = "分享mindpin的思维导图：#{mindmap.title}"
          -newest_pic_url = mindmap_thumb_url_for_share(mindmap)
          -win_url = "http://service.weibo.com/share/share.php?url=#{page_url}&appkey=1526151944&title=#{page_title}&pic=#{newest_pic_url}&ralateUid="
          =link_to '<span>分享到微博</span>',"javascript:pie.open_win('#{win_url}',610,510,pie.randstr());",:class=>'share'
  .box1
    .paginate
      =will_paginate mindmaps