%ul
  -if logged_in?
    %li{:href=>"#{user_mindmaps_path(current_user)}",:active=>"#{ active=="自己的导图" ? "true" : ""}" }
      我的导图

  %li{:href=>"#{mindmaps_path}",:active=>"#{active=='公开导图' ? 'true' : ''}"}公开导图

  -if logged_in?
    %li{:href=>"#{user_tendency_path(current_user)}",:active=>"#{active=='趋势与统计' ? 'true': ''}"} 趋势与统计

  -if active=='用户公开导图'
    %li{:href=>"#{user_mindmaps_path(@user)}", :active=>"true"}
      #{@user.name}的公开导图

  -if active=='全文搜索'
    %li{:href=>"#",:active=>"true"}
      搜索结果