-require_css 'views/users',true

-content_for :javascripts do
  = javascript_include_tag "views/mindmap_image"
  = javascript_include_tag "views/index"
  = javascript_include_tag "views/mindmap_title_inplace_edit"
  = javascript_include_tag "views/index_channel_panel"
  = javascript_include_tag "views/feed_operation"

.grid_3.alpha
  =render :partial=>'index/index_parts/user_info',:locals=>{:user=>@user}

.grid_14.paddingl20
  =render :partial=>'index/homepage/feeds/feed_form_mev6'
  =render :partial=>'index/homepage/index_channel_panel'

  =render :partial=>'index/homepage/mindmaps'
  .mindmap-paginate.padding5
    = will_paginate @mindmaps

.grid_5.fright
  .index-search-form.mindmap
    =render :partial=>'mindmaps/parts/mindmap_search_form'
  =render :partial=>'mindmaps/parts/mindmap_links'
  .margint30
    =render :partial=>'index/homepage/flash_chart',:locals=>{:user=>@user}