- require_css 'views/mindmaps',true
- require_css 'views/users',true

-image_cache_url = pin_url_for('pin-mindmap-image-cache')

-content_for :javascripts do
  = javascript_include_tag "views/mindmap_image"
  = javascript_include_tag "views/mindmap_info"

.grid_14.alpha
  .map-explore
    -prev_mindmap = @mindmap.prev(current_user)
    -next_mindmap = @mindmap.next(current_user)
    .btns
      -if !!prev_mindmap
        .prev{:tip=>'查看上一个导图'}
          =link_to "上一个",info_mindmap_path(prev_mindmap)
      -else
        .prev.disabled
          =link_to "上一个",'javascript:;'
      .show{:tip=>'在编辑器中详细查看'}
        =link_to '<span>详细查看</span>',pin_url_for('pin-mev6',"/mindmaps/#{@mindmap.id}")
      -if !!next_mindmap
        .next{:tip=>'查看下一个导图'}
          =link_to "下一个",info_mindmap_path(next_mindmap)
      -else
        .next.disabled
          =link_to "下一个",'javascript:;'

  .map-info
    .preview.darkbg
      =mindmap_image(@mindmap,"500x500")
    -title_mode = @mindmap.has_edit_rights?(current_user) ? "edit" : "view"
    .title{"data-map-id"=>@mindmap.id,"data-mode"=>title_mode,:'tipr'=>'点击修改标题'}=@mindmap.title

  .map-action.darkbg
    .title 导图操作
    -if @mindmap.has_edit_rights?(current_user)
      .ac
        .pt
          %a.toggle{:href=>'javascript:;',:'data-map-id'=>@mindmap.id,:class=>(@mindmap.private ? 'private':'public'),:'tipr'=>'切换公开/私有'}
          .desc 切换公开/私有
        .o
          =link_to '编辑',pin_url_for('pin-mev6',"mindmaps/#{@mindmap.id}/edit"),:target=>'_blank'
          =link_to '删除',"/mindmaps/#{@mindmap.id}",:method=>:delete,:confirm=>"你确定删除这个导图么？"
          =link_to "协同","/cooperate/#{@mindmap.id}"
          =link_to_remote "复制",:url=>"/mindmaps/#{@mindmap.id}/clone_form",:method=>:get
    -else
      .ac
        =link_to_remote "复制导图",:url=>"/mindmaps/#{@mindmap.id}/clone_form",:method=>:get

.grid_9.omega.fright
  .map-meta
    .creator.lightbg
      .cavatar
        =avatar @mindmap.user,:tiny
      .meta
        .p 作者
        .p=@mindmap.user.name
        
    .time
      .create_time
        ="创建时间: #{qdatetime(@mindmap.created_at)}"
      .updated_time
        ="修改时间: #{qdatetime(@mindmap.updated_at)}"
      .modified_times
        ="修改次数: #{@mindmap.modified_times}"

    =render :partial=>'mindmaps/info_coop.haml'

    .export.darkbg
      %h3 数据导出
      =render :partial=>"mindmaps/parts/export",:locals=>{:mindmap=>@mindmap}

      -page_url = pin_url_for('pin-mev6',"/mindmaps/#{@mindmap.id}")
      -page_title = "MindPin思维导图：#{@mindmap.title}"

    .share.darkbg
      %h3 快速分享
      =link_to '分享到新浪微博',"http://www.jiathis.com/send/?webid=tsina&url=#{page_url}&title=#{page_title}",:target=>'_blank',:class=>'share_to tsina',:tip=>'分享到新浪微博'
      =link_to '分享到人人网',"http://www.jiathis.com/send/?webid=renren&url=#{page_url}&title=#{page_title}",:target=>'_blank',:class=>'share_to renren',:tip=>'分享到人人网'
      =link_to '分享到豆瓣',"http://www.jiathis.com/send/?webid=douban&url=#{page_url}&title=#{page_title}",:target=>'_blank',:class=>'share_to douban',:tip=>'分享到豆瓣'

    .similar-maps.darkbg
      %h3 相似导图..
      .padding5
        =render :partial=>'mindmaps/parts/similar_mindmaps'



