- require_css 'mindmaps.css'

.topl
  .grid_16.margint10.alpha
    %h3 关于 #{@query} ，找到 #{@result.total_count} 条结果
    .margint10
      %ul{:id=>"search_mindmaps",:class=>"mplist mindmaps"}
        -@result.items.each do |item|
          -mindmap = item.mindmap
          -unless mindmap.blank?
            .search-result
              -if mindmap.has_view_rights?(current_user)
                .meta
                  =link_to item.title,"#{pin_url_for('pin-mev6')}mindmaps/#{mindmap.id}"
                  .misc.fright
                    %span.quiet 相关度 #{item.score}
                    =avatar mindmap.user,:tiny
                .data
                  =item.content
              -else
                .meta
                  导图内容不公开，无法显示

      =will_paginate @result
  .grid_6.fright.omega
    %div{:style=>'margin-top:50px;'}
    =minibutton '好了，返回首页',pin_url_for('user_auth')