.user-page-top-info
  .grid_14.alpha
    .base-info
      .name=@user.name
      .sign=@user.sign
    .tabs
      -index_tabs_link_to "/users/#{@user.id}/logs",:class=>'darkbg csshov tab' do
        .t>动态
      -index_tabs_link_to "/users/#{@user.id}/feeds",:class=>'darkbg csshov tab' do
        .t>主题
        .count>=@user.all_feeds_count
      -index_tabs_link_to "/users/#{@user.id}/viewpoints",:class=>'darkbg csshov tab' do
        .t>观点
        .count>=@user.all_viewpoints_count


  .grid_5.omega.fright
    -if logged_in? && @user != current_user
      .user-follow-op{:'data-id'=>@user.id}
        - followed = current_user.following?(@user)
        %a.minibutton.follow{:href=>'javascript:;',:style=>followed ? 'display:none;':''} <span>添加为联系人</span>
        %a.minibutton.unfollow{:href=>'javascript:;',:style=>followed ? '':'display:none;'} <span>移除此联系人</span>
        .channel-selector{:style=>'display:none;'}
          .channels
            -current_user.channels.each do |channel|
              .it.ch{:'data-id'=>channel.id,:'data-name'=>channel.name}>
                ="#{channel.name} <span class='quiet'>(#{channel.include_users.count})</span>"

  .clearfix