- require_css 'views/users',true

-content_for :javascripts do
  = javascript_include_tag "views/follows"
  = javascript_include_tag "views/follows_channel"

%h3
  #{@user.name} 正在关注的。。

.channel-panel
  %ul.channels
    %li.all{:class => @current_channel.blank? ? 'current':''}
      =link_to '全部',pin_url_for('pin-user-auth',"/#{current_user.id}/followings")
    %li.none{:class => @current_channel == 'none' ? 'current':''}
      =link_to '默认频道',pin_url_for('pin-user-auth',"/#{current_user.id}/followings?channel=none")
    %li
      -current_user.channels.each do |c|
        %li{:class => @current_channel == c ? 'current':''}
          =link_to c.name,pin_url_for('pin-user-auth',"/#{current_user.id}/followings?channel=#{c.id}")

  .channel-op
    %span.loud.u-count
      共 #{@followings.count} 人
    -if @current_channel.is_a?(Channel)
      =minibutton '修改频道名','javascript:;',:class=>'rename-channel'
      =minibutton '删除频道',pin_url_for('pin-user-auth',"/channels/#{@current_channel.id}"),:method=>:delete,:confirm=>'确定要删除这个频道吗？'
      .rename-channel-form{:style=>'display:none;',:'data-channel-id'=>@current_channel.id}
        %input.text.inline.ch-inputer
        %button.editable-submit 保存
        %button.editable-cancel 取消
      

=render :partial=>"users/parts/mplist_users",:locals=>{:users=>@followings}

