%h3 数据共享
.mindmap-export.padding5
  =render :partial=>'mindmaps/edit/export'

-page_url = pin_url_for('pin-daotu',"/mindmaps/#{@mindmap.id}/info")
-page_title = "MindPin思维导图：#{@mindmap.title}"
-newest_pic_url = mindmap_thumb_url_for_share(@mindmap)

.share.padding5
  -win_url = "http://service.weibo.com/share/share.php?url=#{page_url}&appkey=1526151944&title=#{page_title}&pic=#{newest_pic_url}&ralateUid="
  =link_to '分享到新浪微博',"javascript:pie.open_win('#{win_url}',610,510,pie.randstr());",:target=>'_blank',:class=>'share_to tsina',:tip=>'分享到新浪微博'
  =link_to '分享到人人网',"http://www.jiathis.com/send/?webid=renren&url=#{page_url}&title=#{page_title}",:target=>'_blank',:class=>'share_to renren'
  =link_to '分享到豆瓣',"http://www.jiathis.com/send/?webid=douban&url=#{page_url}&title=#{page_title}",:target=>'_blank',:class=>'share_to douban'

%h3 相似导图..
.padding5
  =render :partial=>'mindmaps/editor_page/module/similar_mindmaps'