-content_for :title, " 导图编辑器 v0.45 - #{escape_title(@mindmap)}"

-content_for :head do
  = stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_editor_page'
  = stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_canvas'
  = stylesheet_link_tag '/stylesheets/mindmap_mouse_right_menu'
  = stylesheet_link_tag '/javascripts/lightview/css/lightview'
  = stylesheet_link_tag '/javascripts/pie/resizer/pie_resizable'

-content_for :javascripts do
  = javascript_include_tag 'mindmap_editor_packed'
  = javascript_include_tag 'excanvas/excanvas.compiled'
  = javascript_include_tag 'views/mindmap_page_load'
  = javascript_include_tag 'pie/resizer/pie_resizable'



  :javascript
    pie.load(function(){
      current_user_id = #{current_user.id};

      window.uploadify_options = {
        uploader     : '/uploadify/uploadify.swf',
        script       : '/mindmaps/#{@mindmap.id}/upload_file',
        fileDataName : 'file',
        cancelImg    : '/uploadify/cancel.png',
        fileDesc     : '图片文件 png, jpg, gif',
        fileExt      : '*.png;*.jpg;*.jpeg;*.gif',
        auto         : true,
        multi        : true,
        sizeLimit    : #{4.megabytes},
        width        : 78,
        height       : 27,
        wmode        : 'transparent',
        buttonImg    : '/images/actions/upload_button.png',

        scriptData   : {
          '#{session_key = ActionController::Base.session_options[:key]}':encodeURIComponent('#{u cookies[session_key]}'),
          'authenticity_token':encodeURIComponent('#{u form_authenticity_token if protect_against_forgery?}')
        },

        onComplete   : function(event, ID, fileObj, response, data){
          var li_html = response;
          var ul = $$('#facebox .image-upload .image-list')[0];
          if(ul.select('li').length == 12){
            ul.select('li').last().remove();
          }
          $(ul).insert({top:li_html});
          var ic = $(ul).select('li')[0]
          ic.hide();
          ic.appear();
        }
      }
    });

    function remove_img_li(id){
      try{
        $$('#facebox #'+id)[0].dropOut();
      }catch(e){alert(e)}
    }

#mindmap-toolbar
  .map-logo
  .map-title
    =link_to escape_title(@mindmap,10),pin_url_for('pin-user-auth',"/mindmaps/#{@mindmap.id}/info"),:target=>'_blank'
  .map-creator
    -muser = @mindmap.user
    .avatar
      =avatar muser,:mini
    .name
      =link_to muser.name,pin_url_for('pin-user-auth',"/mindmaps/users/#{@mindmap.user.id}"),:target=>'_blank'
  .map-timestamp
    %span 创建于
    %span.loud=jtime @mindmap.created_at
  .map-export
    =minibutton_remote "导出为..",:url=>"/mindmaps/#{@mindmap.id}/export",:method=>:get
    %span.ex=link_to 'PNG图片',"/mindmaps/#{@mindmap.id}.png",:target=>'_blank'
    %span.ex=link_to 'WORD文档',"/mindmaps/#{@mindmap.id}.doc"
  .map-close
    =link_to '关闭，返回',pin_url_for("pin-user-auth","/mindmaps/#{@mindmap.id}/info")
  
#mindmap-main.editor{:'data-id'=>@mindmap.id}
  #mindmap-sidebar
    =render :partial=>'mindmaps/editor_page/editor_sidebar'

  #mindmap-resizer
    #mindmap-scroller
      #mindmap-canvas

#mindmap-status-bar
  .cooperate
    %span 共同编辑者:
    -@mindmap.cooperate_users.each do |user|
      =link_to user.name,pin_url_for("pin-user-auth","/users/#{user.id}"),:target=>'_blank'
  .buttons
    %a.mindmap-recenter{:title=>'导图重新居中',:href=>'javascript:;',:onclick=>'mindmap.recenter();'}
      %span 导图重新居中
    %a.toggle-sidebar.open{:title=>'隐藏/显示侧边栏',:href=>'javascript:;'}
      %span 隐藏/显示侧边栏