-content_for :title, " 导图浏览器 v0.45 - #{escape_title(@mindmap)}"

-content_for :head do
  = stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_editor_page'
  = stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_canvas'
  = stylesheet_link_tag '/javascripts/prototip/css/prototip'

-content_for :javascripts do
  = javascript_include_tag 'mindmap_viewer_packed'
  = javascript_include_tag 'excanvas/excanvas.compiled'
  = javascript_include_tag 'views/mindmap_page_load'

  :javascript
    pie.load(function(){
      pie.MindmapPageLoader.load_viewer_page('#{@mindmap.id}');
    });

#mindmap-toolbar
  .map-logo
  .map-title
    =link_to escape_title(@mindmap,10),pin_url_for('pin-user-auth',"/mindmaps/#{@mindmap.id}/info"),:target=>'_blank'
  .map-creator
    -muser = @mindmap.user
    .avatar
      =avatar muser,:mini
    .name
      =link_to muser.name,pin_url_for('pin-user-auth',"/mindmaps/users/#{@mindmap.user.id}"),:target=>'_blank'
  .map-timestamp
    %span 创建于
    %span.loud=jtime @mindmap.created_at

  .map-close
    =link_to '关闭，返回',pin_url_for("pin-user-auth","/mindmaps/#{@mindmap.id}/info")

#mindmap-main.viewer
  #mindmap-sidebar
    =render :partial=>'mindmaps/editor_page/viewer_sidebar'

  #mindmap-resizer
    #mindmap-scroller
      #mindmap-canvas

#mindmap-status-bar
  .cooperate
    %span 共同编辑者:
    -@mindmap.cooperate_users.each do |user|
      =link_to user.name,pin_url_for("pin-user-auth","/users/#{user.id}")