-require_css 'views/users',true

-content_for :javascripts do
  = javascript_include_tag "views/mindmap_image"
  = javascript_include_tag "views/index"
  = javascript_include_tag "views/mindmap_title_inplace_edit"
  = javascript_include_tag "views/index_channel_panel"
  = javascript_include_tag "views/feed_operation"
  = javascript_include_tag "views/follows"

.grid_3.alpha
  =render :partial=>'index/index_parts/user_info_in_homepage',:locals=>{:user=>@user}

.grid_14.paddingl20
  =render :partial=>'index/index_parts/homepage_top_userinfo',:locals=>{:user=>@user}

  .look-mindmap.padding5.rc5.font14.margint20
    =link_to '>>去看看他的思维导图吧',pin_url_for("pin-user-auth","#{@user.id}/mindmaps")

  .newsfeed
    -if @own_feeds.blank?
      .blank.darkbg.font14.padding5.rc5 这位朋友现在还没有任何话题~
    -else
      =render :partial=>'index/homepage/feeds/new_feeds',:locals=>{:newsfeeds=>@own_feeds}

.grid_4.omega.fright
  -if @user==current_user
    =render :partial=>'index/index_parts/feed_links'