-require_css 'views/users',true

-content_for :title do
  #{@user.name}的主页

-content_for :javascripts do
  = javascript_include_tag "views/mindmap_title_inplace_edit"
  = javascript_include_tag "views/index_channel_panel"
  = javascript_include_tag "views/feed_operation"
  = javascript_include_tag "views/follows"

-if !logged_in?
  .grid_23.alpha.omega
    .welcom-to-signup
      -link_to signup_path,:class=>'signup-button shadow button' do
        .strong
          现在就注册
      .title
        我们期待您不仅观看，而且参与其中！
      .desc
        .p MindPin现在是一个多人参与的互动网站，当你和更多人进行了沟通，你才会有更多的收获。
        .p 随着你的逐步深入使用，你会用到更多对你有帮助的实用功能，撰写，阅读和发现更多有价值的信息。
        .p 高质量的内容，由你我共同创造。

.grid_3.alpha
  =render 'users/homepage/user_misc_info',:user=>@user

.grid_14.paddingl20
  =render 'users/homepage/top_userinfo',:user=>@user

  .homepage-see-others
    =link_to '&gt;&gt;去看看他的思维导图吧',pin_url_for("pin-user-auth","#{@user.id}/mindmaps")

  .newsfeed
    -if @own_feeds.blank?
      .blank.darkbg.font14.padding5.rc5 这位朋友现在还没有任何话题~
    -else
      =render :partial=>'feeds/lists/feeds',:locals=>{:newsfeeds=>@own_feeds}

  .feed-paginate.padding5
    = will_paginate @own_feeds

.grid_4.omega.fright
  -if @user==current_user
    =render :partial=>'index/index_parts/feed_links'