-require_css 'views/users',true

-content_for :javascripts do
  = javascript_include_tag "views/mindmap_image"
  = javascript_include_tag "views/index"
  = javascript_include_tag "views/mindmap_title_inplace_edit"
  = javascript_include_tag "views/index_channel_panel"
  = javascript_include_tag "views/feed_operation"

.grid_3.alpha
  =render :partial=>'index/index_parts/user_info_in_homepage',:locals=>{:user=>@user}

.grid_14.paddingl20
  =render :partial=>'index/index_parts/homepage_top_userinfo',:locals=>{:user=>@user}

  .newsfeed
    =render :partial=>'index/homepage/feeds/new_feeds',:locals=>{:newsfeeds=>@own_feeds}

.grid_4