-c=comment
-form_id = "edit_note_comment_#{c.id}"

.comment-info
  .meta
    =c.user.name
  .cbody
    .text-content
      =simple_format c.content
      .actions
        =minibutton '编辑',"javascript:;",:onclick=>"jQuery('##{form_id}').parent().removeClass('hide').prev().addClass('hide');"
        =minibutton_remote '删除',:url=>"/comments/#{c.id}",:method=>:delete,:confirm=>'你确定要删除这条评论吗？'

    .form-content.hide
      -form_remote_tag :url=>c,:method=>:put,:html=>{:id=>form_id} do
        =text_area_tag "comment[content]",c.content,:id=>"comment_#{c.id}_content"
        .clearfix.margint10
          .fleft
            =minibutton '取消',"javascript:;",:onclick=>"jQuery('##{form_id}').parent().addClass('hide').prev().removeClass('hide');"
          .fright
            %button.minibutton{:type=>'submit'} <span>确定</span>
