.page-user-mindmaps
  .mindmap
    =render 'index/parts/manage_bar'
  -if mindmaps.blank?
    .mindmap.empty 目前还没有思维导图
  -else
    -mindmaps.each do |mindmap|
      .mindmap{:'data-id'=>mindmap.id}
        .m
          .data
            .title=link_to mindmap.title,"/mindmaps/#{mindmap.id}/info"
            -size = mindmap.thumb_image_true_size
            .thumb{:style=>"width:#{500}px;height:#{500}px;"}
              -link_to "/mindmaps/#{mindmap.id}/info" do
                =mindmap_image(mindmap,"500x500")

          .footmisc
            .creator>
              .avatar=avatar mindmap.user,:tiny
            .rank
              =mindmap.rank_value
            .ops.hide
              -if mindmap.user==current_user
                .o=link_to '编辑',"/mindmaps/#{mindmap.id}/edit",:target=>'_blank',:class=>'edit'
                .o=link_to '删除','javascript:;',:class=>'op delete'

