.page-ogrid.collections
  -if collections.blank?
    .list-blank
      你还没有任何收集册，你可以点击<b>新建</b>来创建。
  -else
    -collections.each do |collection|
      .collection{:'data-id'=>collection.id}
        .headmeta
          %span.t-title=link_to "#{collection.title}(#{collection.feeds.count})","/collections/#{collection.id}"
        %a.data{:href=>"/collections/#{collection.id}"}
          -with_photo_feeds = collection.with_photo_feeds[0..8]
          -with_photo_feeds_count = with_photo_feeds.length

          -with_photo_feeds.each do |f|
            .p
              -photo = f.photos[0]
              %img{:src=>photo.image.url(:s100),:style=>'width:66px;height:66px;'}
          -1.upto (9-with_photo_feeds_count) do
            .p
        .ops
          -if collection.creator == current_user
            %a.minibutton.edit{:href=>"/collections/#{collection.id}/edit"} <span>修改</span>
          -else
            %a.minibutton.show{:href=>"/collections/#{collection.id}"} <span>查看</span>