%h3 数据共享
.mindmap-export.padding5
  =render :partial=>'mindmaps/edit/export'

-page_url = pin_url_for('pin-mindmap-editor',"/mindmaps/#{@mindmap.id}")
-page_title = "MindPin思维导图：#{@mindmap.title}"

.share.padding5
  =link_to '分享到新浪微博',"http://www.jiathis.com/send/?webid=tsina&url=#{page_url}&title=#{page_title}",:target=>'_blank',:class=>'share_to tsina'
  =link_to '分享到人人网',"http://www.jiathis.com/send/?webid=renren&url=#{page_url}&title=#{page_title}",:target=>'_blank',:class=>'share_to renren'
  =link_to '分享到豆瓣',"http://www.jiathis.com/send/?webid=douban&url=#{page_url}&title=#{page_title}",:target=>'_blank',:class=>'share_to douban'

%h3 相似导图..
.padding5
  -if @mindmap.rank.to_i != 0
    .hide
      -@mindmap.major_words.each do |word|
        %span=word
    -r_maps = @mindmap.relative_mindmaps
    -r_maps.each do |m|
      %div=link_to m.title,m,:target=>"_blank"
    -if r_maps.blank?
      %div 没有找到相关的导图
  -else
    %div 节点太少，没有找到相关的导图