-content_for :title, " 导图编辑器 v0.45 - #{escape_title(@mindmap)}"

= stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_editor_page'
= stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_canvas'
= stylesheet_link_tag '/stylesheets/mindmap_mouse_right_menu'
= stylesheet_link_tag '/javascripts/lightview/css/lightview'
= stylesheet_link_tag '/javascripts/pie/resizer/pie_resizable'

-content_for :javascripts do
  = javascript_include_tag 'mindmap_editor_packed'

  = javascript_include_tag 'nicedit/nicEdit'
  = javascript_include_tag 'excanvas/excanvas.compiled'
  = javascript_include_tag 'views/mindmap_page_load'
  = javascript_include_tag 'pie/resizer/pie_resizable'

  = javascript_include_tag '/javascripts/lightview/js/lightview'

  :javascript
    pie.load(function(){
      window.page_loader = pie.MindmapPageLoader.load_editor_page('#{@mindmap.id}');
    });

#mindmap-toolbar
  .map-logo
    =logo @mindmap
  .map-title
    =escape_title(@mindmap,10)
  .map-creator
    =link_to @mindmap.user.name,pin_url_for('pin-mindmap-editor',"/users/#{@mindmap.user.id}/mindmaps"),:target=>'_blank'
  .map-timestamp
    %span 创建于
    %span.loud=created_at @mindmap
  .map-edit
    - if has_edit_rights?(@mindmap,current_user)
      =minibutton_remote "修改信息",:url=>paramsedit_mindmap_path(@mindmap),:method=>:get
  .map-export
    =minibutton_remote "导出为..",:url=>export_mindmap_path(@mindmap),:method=>:get
    %span.ex=link_to 'Jpg图片',"/mindmaps/#{@mindmap.id}.jpg",:target=>'_blank'
    %span.ex=link_to 'Word文档',"/mindmaps/#{@mindmap.id}.doc"
  .map-close
    =link_to '关闭，返回','/'
  
#mindmap-main
  #mindmap-sidebar
    =render :partial=>'mindmaps/editor_page/editor_sidebar'

  #mindmap-resizer
    #mindmap-scroller
      #mindmap-canvas

#mindmap-status-bar
  .cooperate
    %span 共同编辑者:
    -@mindmap.cooperate_edit_email_actors.each do |ea|
      %span
        =email_actor_link(ea,:target=>'_blank')
  .net_condition.hide
    %span 响应时间
    %span.last_respond
      %span.time_label 上次:
      %span.time 0
    %span.average_respond
      %span.time_label 平均:
      %span.time 0
  .buttons
    %a.toggle-sidebar.open{:title=>'隐藏/显示侧边栏',:href=>'javascript:;',:onclick=>'page_loader.toggle_sidebar();'}
      %span 隐藏/显示侧边栏

=render :partial=>'mindmaps/editor_page/module/font_selector'
=render :partial=>'mindmaps/editor_page/module/img_selector'