- last_login_time = user.last_login_time
- is_online = user.online_record.blank? ? "离线" : "在线"
.user_info.marginb3em.boxfix
  .boxfix
    .fleft
      = logo user,:medium
    .fleft.marginl10
      %div
        %span.bold= user.name
        %span.quiet
          (#{is_online})
      .boxfix.margint5
        .fleft{:style => "border-right:solid 1px #ddd;padding-right:10px;"}
          .font16.bold= link_to user.contacting.count,user_follows_path(user)
          %div= link_to '关注',user_follows_path(user)
        .fleft.marginl10
          .font16.bold= link_to user.contacters.count,user_fans_path(user)
          %div= link_to '被关注',user_fans_path(user)
      - if logged_in? && user !=current_user
        = render :partial=>"contactings/parts/follow_action",:locals=>{:user=>user}
  .margint5
    - if last_login_time
    %span.quiet 上次登录
    = qdatetimefull last_login_time
