<?xml version="1.0" encoding="utf-8"?>
%feed{"xmlns"=>"http://www.w3.org/2005/Atom","xmlns:creativeCommons"=>"http://backend.userland.com/creativeCommonsRssModule","xmlns:re"=>"http://purl.org/atompub/rank/1.0"}
  %title{:type=>"text"} #{@tag_name} - MindPin主题协作社区
  %link{:rel=>"self",:href=>"http://www.mindpin.com/tags/#{@tag_name}/atom",:type=>"application/atom+xml"}
  %link{:rel=>"alternate",:href=>"http://www.mindpin.com/tags/#{@tag_name}",:type=>"text/html"}
  %subtitle="#{@tag_name} 的20个最新主题"
  %updated="#{time_tz(@feeds.first.updated_at)}"
  %id http://www.mindpin.com/tags/#{@tag_name}/atom
  %creativeCommons:license http://www.creativecommons.org/licenses/by-nc/2.5/rdf
  -@feeds.each do |feed|
    %entry
      %id http://www.mindpin.com/feeds/#{feed.id}
      %re:rank{:scheme=>"http://www.mindpin.com"} 1
      %title{:type=>"text"}=feed_content(feed)
      -feed.tag_names.each do |tname|
        %category{:scheme=>"http://www.mindpin.com/tags/#{@tag_name}",:term=>tname}
        %author
          %name="#{feed.creator.name}"
          %uri http://www.mindpin.com/users/#{feed.creator.id}
        %link{:rel=>"alternate",:href=>"http://www.mindpin.com/feeds/#{feed.id}"}
        %published="#{time_tz(feed.created_at)}"
        %updated="#{time_tz(feed.updated_at)}"
        %summary{:type=>"html"}
          =h(feed_detail(feed))