-#use 关键词页
-#see 关键词页

-content_for :title do
  #{@tag.full_name}

-content_for :javascripts do
  = javascript_include_tag "views/tag_show_operation"
  = javascript_include_tag "views/feed_operation"

=render 'auth/no_auth/welcome_to_signup'

.tag-page-top-info.clearfix
  .grid_18.alpha
    =render 'tags/show_parts/tag_base_info',:tag=>@tag


  .grid_5.omega.fright
    .tag-page-rss
      =link_to 'RSS订阅',"/tags/#{@tag.full_name}/atom",:target=>'_blank',:tipr=>"RSS订阅"
    .tag-page-ops
      -faved = @tag.fav_by?(current_user)
      %a.fav.shadow.button{:href=>'javascript:;',:style=>faved ? 'display:none;':''}> 关注这个关键词
      %a.unfav{:href=>'javascript:;',:style=>faved ? '':'display:none;'}> 　取消关注　

.hrr
.main.grid_18
  .tag-page-feeds
    .newsfeed
      .list.feeds
        .feed
          .tag-page-logo{:style=>'background:#E2EDFA;margin:0 0 10px 0;'}
            =logo @tag,:medium

        -@feeds.each do |feed|
          =render :partial=>'feeds/infos/feed_info',:locals=>{:feed=>feed}

    .padding5
      =will_paginate @feeds


.mside.grid_6
  .tag-related-feed-count
    .count
      =# 只显示非隐藏的
      =@tag.feeds.normal.count
    .desc 主题带有此关键词

  .hrr
  .tag-related-tags
    .title 相关关键词
    -@tag.related_feed_tags_map.each do |tc|
      .tag-and-count
        =tag_label(tc[:tag])
        .count="× #{tc[:count]}"
