-require_css 'views/users',true

-content_for :title do
  #{@tag.name}：上传图片

= flash_info

.grid_20.alpha
  .grid-title 
    #{@tag.name}：上传关键词图片

  .tag-page-upload-logo.padding5
    = logo @tag,:medium
    - form_tag "/tags/#{params[:id]}/logo",:method=>:put,:multipart=>true do
      .field
        %label 选择图片上传
        = file_field_tag(:logo)
      = submit_tag "上传图片",:class=>'marginb3em submit'

  .homepage-see-others.font14.bold
    =link_to "<< 返回关键词页面","/tags/#{params[:id]}"