#mindmap-toolbar
  .map-logo
  .map-title
    =link_to escape_title(@mindmap,10),pin_url_for('pin-daotu',"/mindmaps/#{@mindmap.id}/info"),:target=>'_blank'
  .map-creator
    -muser = @mindmap.user
    .avatar
      =avatar muser,:mini
    .name
      =link_to muser.name,pin_url_for('pin-daotu',"/users/#{@mindmap.user.id}"),:target=>'_blank'
  .map-timestamp
    %span 创建于
    %span.loud=jtime @mindmap.created_at
  .map-export
    =minibutton_remote "导出为..",:url=>"/mindmaps/#{@mindmap.id}/export",:method=>:get
    %span.ex=link_to 'PNG图片',"/mindmaps/#{@mindmap.id}.png",:target=>'_blank'
    %span.ex=link_to 'WORD文档',"/mindmaps/#{@mindmap.id}.doc"
  .map-close
    =link_to '关闭，返回',pin_url_for("pin-daotu","/mindmaps/#{@mindmap.id}/info")