-content_for :title, " 导图编辑器 v0.6 - #{escape_title(@mindmap)}"

-content_for :head do
  = stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_editor_page'
  = stylesheet_link_tag '/stylesheets/mindmap_mouse_right_menu'

-content_for :javascripts do
  = javascript_include_tag 'mindmap_editor_packed'
  = javascript_include_tag 'excanvas/excanvas.compiled'
  = javascript_include_tag 'views/mindmap_page_load'

=render 'mindmap_editor/mindmap_toolbar'
=render 'mindmap_editor/mindmap_main',:mode=>'editor'
=render 'mindmap_editor/status_bar'

=render 'mindmap_editor/module/image_editor',:image_attachments=>current_user.image_attachments
=render 'mindmap_editor/module/note_editor'
=render 'mindmap_editor/module/color_editor'