-require_css 'views/users',true

.grid-title
  %span.loud>#{@user.name}
  创建的频道

.grid_18.alpha
  .index-channels
    -mplist @user.channels,:for=>Channel,:li_class=>'padding5 darkbg' do |c|
      .meta
        .name
          %span.kind{:class=>c.kind}
            =c.kind_name
          -link_to pin_url_for('pin-user-auth',"channels/#{c.id}") do
            =c.name
      .avatars
        -c.contact_users.each do |u|
          .avatar{:tip=>u.name}
            =link_to (avatar u,:mini),u
      .last-feed
        =channel_last_feed(c)

  .grid-title
    %span.loud>#{@user.name}
    所属的频道

  .index-belongs-to-channels.darkbg
    -mplist @user.belongs_to_channels,:for=>Channel do |c|
      .meta
        .name
          %span.kind{:class=>c.kind}
            =c.kind_name
          -link_to pin_url_for('pin-user-auth',"channels/#{c.id}") do
            =c.name
          (#{link_to c.creator.name,c.creator})
      .avatars
        -c.contact_users.each do |u|
          .avatar{:tip=>u.name}
            =link_to(avatar(u,:mini),u)
      .last-feed
        =channel_last_feed(c)

.grid_5.omega.fright
  