- user ||= current_user

.index-user-info
  .base.lightbg1
    .avatar
      =avatar(user,'medium')
    .meta
      .name=user.name
      .regtime
        注册时间
        =qdate user.created_at

    .fri
      -if logged_in?
        -if current_user.can_send_message_to?(user)
          =minibutton '发私信',pin_url_for('pin-user-auth',"messages/new?receiver_id=#{user.id}")

        -if current_user!=user
          - followed = current_user.following?(user)
          %span.follow_btn{:style=>(followed ? 'display:none;':'')}
            =minibutton '关注TA',"javascript:;","data-user-id"=>user.id
          %span.unfollow_btn{:style=>(followed ? '':'display:none;')}
            =minibutton '取消关注',"javascript:;","data-user-id"=>user.id

  .scount.lightbg
    -url=pin_url_for('pin-user-auth',"#{user.id}/followings")
    .num=link_to @followings_count,url
    .meta
      .text
        %span 联系人 ...
        =link_to '查看全部',url
      .icons
        -@followings.each do |u|
          -link_to "/users/#{u.id}",:tip=>"#{u.name}" do
            =avatar(u,:mini)
      

  .scount.lightbg
    -url=pin_url_for('pin-user-auth',"#{user.id}/fans")
    .num=link_to @fans_count,url
    .meta
      .text
        %span 读者 ...
        =link_to '查看全部',url
      .icons
        -@fans.each do |u|
          -link_to "/users/#{u.id}",:tip=>"#{u.name}" do
            =avatar(u,:mini)

  .scount.lightbg
    -url=pin_url_for('pin-user-auth',"#{user.id}/channels")
    .num=link_to user.channels_count,url
    .meta
      .text
        %span 创建的频道 ...

  .scount.lightbg
    -url=pin_url_for('pin-user-auth',"#{user.id}/channels")
    .num=link_to user.belongs_to_channels_count,url
    .meta
      .text
        %span 所属的频道 ...
