.container_10
  %h3 支持以下导图软件格式：
  %dl
    %dt MMAP
    %dd MindManager
  %dl
    %dt MM
    %dd FreeMind
  %dl
    %dt XMIND
    %dd XMind
  %p.margint10
    选择文件并确定上传后，系统需要少许时间进行处理和转换，请耐心等待。
  %p
    我们能够确保基本导图结构的完好。<br/>
    但是由于MindPin导图编辑器仍需进一步完善，一些导图软件中的特定格式，如文字颜色，内嵌图片，导入后会有不同程度的丢失。

#file_upload

-url = pin_url_for('user_auth')
-image_cache_url = mindmap_image_cache_url
-mev6_url = pin_url_for('pin-mev6')

:javascript
  (function(){
    jQuery('#file_upload').uploadify({
      'uploader'  : '/javascripts/uploadify/uploadify.swf',
      'script'    : '/mindmaps/import_file',
      'cancelImg' : '/javascripts/uploadify/cancel.png',
      'buttonImg' : '/images/actions/upload_button.png',
      'width'     : 78,
      'height'    : 27,
      'wmode'     : 'transparent',
      'auto'      : true,
      'multi'     : true,
      'fileDataName' : 'file',
      'fileDesc'     : '导图文件 mm, mmap, xmind',
      'fileExt'      : '*.mm;*.mmap;*.xmind;',
      'sizeLimit'    : #{4.megabytes},
      'scriptData'   : {
        '#{session_key = ActionController::Base.session_options[:key]}':encodeURIComponent('#{u cookies[session_key]}'),
        'authenticity_token':encodeURIComponent('#{u form_authenticity_token if protect_against_forgery?}')
      },
      'onComplete'  : function(event, ID, fileObj, response, data) {
        var data = jQuery.parseJSON(response)
        //关闭fbox
        jQuery(document).trigger('close.facebox');
        // 初始化，防止反复导入造成dom节点的重复
        jQuery("a.after_imoprt_link").remove();
        jQuery("div.show_import_image").remove();
        // 添加正在读取的图标
        jQuery(".feed-form-mev6 .btns").addClass('loading')
        get_import_mindmap_image(data.qid)
      }
    });

    function get_import_mindmap_image(qid){
      jQuery.ajax({
        url:"#{url}"+"import_mindmap_queue?qid="+qid,
        dataType:"jsonp",
        jsonp:"import_mindmap_callback",
        success:function(data){
          var loaded = data["loaded"];
          var success = data["success"];

          if(!loaded){
            setTimeout(function(){
              get_import_mindmap_image(qid);
            },5000);
          }else if(success){
            import_success(data);
          }else{
            jQuery(".feed-form-mev6 .btns").removeClass('loading');
            jQuery(".feed-form-mev6 .import-mindmap").after("<div class='show_import_image'>解析错误</div>");
          }
        },
        error:function(data){
        }
      });
    }
    function create_loading_image_div(map_id,dom_id,size_param,updated_at,loading_src){
      pie.log(loading_src)
      return jQuery('<div id="'+dom_id+'" class="cache_mindmap_image" data-map-id="'+map_id+'" data-map-size="'+size_param+'" data-updated-at="'+updated_at+'" ><img class="loading" src="'+loading_src +'" /></div>')
    }

    function get_import_image_position(){
      var import_button = jQuery(".feed-form-mev6 .import-mindmap")
      var left = import_button.offset().left + import_button.width();
      var top = import_button.offset().top + import_button.height();
      return {left:left,top:top}
    }

    function import_success(data){
      var mindmap_title = data["map_title"];
      var mindmap_id = data["map_id"];
      var loading_image_div_id = pie.randstr();
      var size = data["size"];
      var updated_at = data["updated_at"];
      var loading_src = data["loading_src"];
      var image_cache_url = data["image_cache_url"];

      // 读取图标 的时候 弹出显示导图缩略图，添加标题，后面按钮链接改成，进入并编辑
      jQuery(".feed-form-mev6 .feed-content").attr("value",mindmap_title);
      jQuery(".feed-form-mev6 .btns").removeClass('loading');

      var postion = get_import_image_position()
      var import_image_div = jQuery(".feed-form-mev6 .import-mindmap-image");
      import_image_div.css("left",postion.left);
      import_image_div.css("top",postion.top);

      var image_content = jQuery(".feed-form-mev6 .import-mindmap-image .image");
      var loading_image = create_loading_image_div(mindmap_id,loading_image_div_id ,size ,updated_at,loading_src)
      image_content.html(loading_image)
      var gmt = new GetMindmapImage(loading_image_div_id,image_cache_url);
      gmt.get_mindmap_image();
      import_image_div.show();

      jQuery(".feed-form-mev6").attr("data-mode","import_mindmap")
      jQuery(".feed-form-mev6 .create-mindmap").attr("data-href","#{mev6_url}mindmaps/"+ mindmap_id+"/edit")
    }


  })();
  

