-# 在首页使用新浪微博账号登录的确认页
-# 从不同的首页点进来，service参数不同

-htitle '使用新浪微博账号登录'

-content_for :javascript do
  :javascript
    pie.load(function(){
      var m1_elm = jQuery('.connect-link-form .sel.mode1');
      var m2_elm = jQuery('.connect-link-form .sel.mode2');

      var f1_elm = jQuery('.connect-link-form .form1');
      var f2_elm = jQuery('.connect-link-form .form2');

      m1_elm.bind('click',function(){
        m1_elm.addClass('selected').removeClass('unselect');
        m2_elm.removeClass('selected').addClass('unselect');
        f1_elm.show();
        f2_elm.hide();
      })

      m2_elm.bind('click',function(){
        m1_elm.removeClass('selected').addClass('unselect');
        m2_elm.addClass('selected').removeClass('unselect');
        f1_elm.hide();
        f2_elm.show();
      })

      jQuery('a.create-submit').bind('click',function(){
        var form_elm = jQuery(this).closest('form');
        var can_submit = true;

        //必填字段 凡是有classname包含need的都是必填
        form_elm.find('.field .need').each(function(){
          var elm = jQuery(this);
          if(jQuery.string(elm.val()).blank()){
            can_submit = false;
            pie.inputflash(elm);
          }
        });

        if(can_submit){
          form_elm.submit();
        }
      })
    })

:ruby
  mode2 = (flash[:mode] == 2)
  sel1_class = mode2 ? 'unselect':'selected'
  sel2_class = mode2 ? 'selected':'unselect'
  f1_style = mode2 ? 'display:none;':''
  f2_style = mode2 ? '':'display:none;'

- bind_url   = pin_url_for('pin-user-auth',"/account/tsina_signup/bind")
- create_url = pin_url_for('pin-user-auth',"/account/tsina_signup/create")

.main.grid_18.no-line
  =render '/account/tsina_signup/tsina_user_info',:bindinfo=>@tsina_user_info

  .page-login-from-other-connect-operation
    %h3 请选择账号关联方式：

    =flash_info

    .f
      .connect-link-form
        .select-mode
          .sel.mode1{:class=>sel1_class}
            .desc <b>使用已有的账号</b> 以前注册过MINDPIN
          .sel.mode2{:class=>sel2_class}
            .desc <b>使用新的账号</b> 以前没有注册过

        .connect-link-form-form.form1{:style=>f1_style}
          -form_tag bind_url do
            =hidden_field_tag :service,params[:service]
            .field
              %label=t('activerecord.attributes.user.email')
              =text_field_tag :email,params[:email],:class=>'text need bold'
            .field
              %label=t('activerecord.attributes.user.password')
              =password_field_tag :password,params[:password],:class=>'text need'
            .field.subm
              %a.create-submit{:href=>'javascript:;'} <span>确定关联</span>

        .connect-link-form-form.form2{:style=>f2_style}
          -form_for User.new,:url=>create_url do |f|
            = hidden_field_tag :service,params[:service]
            .field
              %label 电子邮箱
              = f.text_field :email,:maxlength=>50,:class=>'text need bold'
            .field
              %label 用户名
              = f.text_field :name,:maxlength=>50,:class=>'text need bold'
            .field
              %label 密码
              = f.password_field :password,:value=>'',:maxlength=>32,:class=>'text need'
            .field
              %label 确认密码
              = f.password_field :password_confirmation,:value=>'',:maxlength=>32,:class=>'text need'
            .field.subm
              %a.create-submit{:href=>'javascript:;'} <span>创建账号并关联</span>

    .back=minibutton '返回首页','/'