-content_for :title do
  基本信息设置

.main.white
  .padding10
    %h2.main-title
      你可以在这里设置你平常使用的用户昵称以及签名档

    = flash_info
    - mindpin_form_for current_user,:url=>"/account",:html=>{:method=>:put} do |f|
      .field
        %label 用户名
        = text_field_tag :name,current_user.name,:class=>'text'
      .field
        %label 签名档
        = text_area_tag :sign,current_user.sign,:class=>'text'
      .field
        %label 旧密码
        = password_field_tag :old_password,'',:class=>'text'
      .field
        %label 新密码
        = password_field_tag :new_password,'',:class=>'text'
      .field
        %label 确认新密码
        = password_field_tag :new_password_confirmation,'',:class=>'text'

      = f.submit '保存更改',:class=>'marginb3em'
