-#use 激活页
-#see 未激活登录首页->激活社区服务

-htitle '服务激活'

-submit_url = pin_url_for('pin-user-auth','/activation_submit')

.main.grid_24.nl
  .page-anonymous-wrapper
    .root-box
      .logo


      .root-content
        =flash_info
        .title 激活社区服务
        - if logged_in?
          %p
            MINDPIN社区
            %span.loud> 目前仍在alpha测试期间，并未公开开放。<br/>
            你目前正使用账号 <b>#{current_user.name}(#{current_user.email})</b> 登录。<br/>
            <br/>
            该账号目前未激活，如果你持有我们发放的测试激活码，<br/>
            可以通过此页激活社区服务，参加我们的测试。帮助我们进行产品改进。

          .aj-submit-form
            - form_tag submit_url do
              .field
                %label 激活码
                = text_field_tag :code,"",:size=>25,:maxlength=>255,:class=>'marginr5 text need j-tip'
              .field
                = link_to '激 活','javascript:;',:class=>'active-submit a-link-submit middlebutton loginblue'
                %a.middlebutton.logingray{:href=>'/'} <span>返回首页</span>
        - else
          %p
            MINDPIN社区
            %span.loud> 目前仍在alpha测试期间，并未公开开放。<br/>
            你仍然可以进行<a href='/signup'>账号注册</a>，但默认只能使用已开放的<a href='#{pin_url_for('pin-daotu')}'>思维导图编辑器</a>服务。<br/>
            <br/>
            如果你持有我们发放的测试激活码，<br/>
            可以通过此页激活社区服务，参加我们的测试。帮助我们进行产品改进。

          .need-login-for-activation
            =minibutton '你必须先登录','/login',:class=>'logingray'
            ，才能进行服务激活操作
