-require_css 'views/users',true

-content_for :title do
  我的首页

-content_for :javascripts do
  = javascript_include_tag "views/index_channel_panel"
  = javascript_include_tag "views/feed_operation"

  - refresh_feed_tip
  = javascript_include_tag "views/notice/feed_notice"
  :javascript
    pie.misc_tip_info = #{misc_tip_info.to_json}

.grid_3.alpha
  =render :partial=>'index/index_parts/user_info',:locals=>{:user=>current_user}

.grid_14.paddingl20
  =flash_info
  =render :partial=>'index/homepage/feeds/feed_form'

  .homepage-see-others
    =link_to '&gt;&gt;转到思维导图页',pin_url_for("pin-user-auth","/mindmaps")

  .new-feed-tip{:style=>'display:none;'}
    =link_to '收到了新的话题，请点击这里查看','javascript:;'
    .loading-tip
      正在读取...

  .newsfeed
    =render :partial=>'index/homepage/feeds/new_feeds',:locals=>{:newsfeeds=>@feeds}

  .feed-paginate.padding5
    = will_paginate @feeds

.grid_4.omega.fright
  =render 'index/index_parts/getting_started'

  =render 'index/index_parts/feed_links'
