-require_css 'views/users',true

-content_for :title do
  我的首页

-content_for :javascripts do
  = javascript_include_tag "views/index_channel_panel"
  = javascript_include_tag "views/feed_operation"

  - refresh_feed_tip
  = javascript_include_tag "views/notice/feed_notice"
  :javascript
    pie.misc_tip_info = #{misc_tip_info.to_json}

.grid_16.alpha
  =render 'index/index_parts/index_page_tabs'

  .hrr
  .index-tab-ct.feeds
    .newsfeed
      =render 'feeds/lists/feeds_stat',:feeds=>@feeds

    -if @feeds.length < 10
      =render 'index/index_parts/newbie_welcome'


    .feed-paginate.padding5
      = will_paginate @feeds

  .index-tab-ct.userlogs{:style=>'display:none;'}
    .index-userlogs
      -current_user.inbox_logs.each do |log|
        =userlog_partial(log)

  .index-tab-ct.notice
    =render 'index/homepage/page_tips'

.grid_5.omega.fright
  .page-new-feed-button
    %a.button.shadow{:href=>'javascript:;'} 发一个新话题
    .new-form{:style=>"display:none;"}
      .ipter
        .ipts
          =text_area_tag "content",'',:class=>"text feed-content"
      .detail-ipter
        =text_area_tag "detail",'',:class=>"text feed-detail"
      .subm
        =link_to '创建话题','javascript:;',:class=>'subbtn send-feed shadow'
        =link_to '取消','javascript:;',:class=>'button cancel shadow'
        .success.aj-loading{:style=>'display:none;'}
          创建成功，正在跳转…
        .sending.aj-loading{:style=>'display:none;'}
          正在发送…

  =render 'index/index_parts/feed_links'

  .hrr
  =render 'index/index_parts/getting_started'
