-require_css 'views/users',true

-content_for :title do
  我的首页

-content_for :javascripts do
  = javascript_include_tag "views/index_channel_panel"
  = javascript_include_tag "views/feed_operation"

  - refresh_feed_tip
  = javascript_include_tag "views/notice/feed_notice"
  :javascript
    pie.misc_tip_info = #{misc_tip_info.to_json}

.grid_3.alpha
  =render :partial=>'index/index_parts/user_info',:locals=>{:user=>current_user}

.grid_14.paddingl20
  =flash_info
  =render :partial=>'index/homepage/feeds/feed_form'

  .homepage-see-others
    =link_to '&gt;&gt;转到思维导图页',pin_url_for("pin-user-auth","/mindmaps")

  -if logged_in?
    =render 'index/homepage/page_tips'

  .new-feed-tip{:style=>'display:none;'}
    =link_to '收到了新的话题，请点击这里查看','javascript:;'
    .loading-tip
      正在读取...

  .newsfeed
    =render :partial=>'index/homepage/feeds/new_feeds',:locals=>{:newsfeeds=>@feeds}

  -if @feeds.blank?
    .index-no-feeds.darkbg
      你目前还没有任何话题

  -if @feeds.length < 10
    .index-newbie-welcome
      .title 欢迎来到 Mindpin
      .desc
        .p 这里是大家提出想法，讨论问题，畅所欲言的地方。
        .p 你可以<span class='l'>发起一个新话题</span>，邀请其他人来一起讨论。
        .p.mb 也可以对其他人的话题<span class='l'>提出自己的观点</span>。
        .p.mb 现在你可以看看这些最近的话题：
        .feeds
          -recent_feeds.each do |f|
            .feed
              =link_to truncate_u(f.content,32),f
        .p.mb 也可以去参与这些话题的讨论：
        .feeds
          -hot_discuss_feeds.each do |f|
            .feed
              =link_to truncate_u(f.content,32),f
        .p.mb 或者去看看这些朋友的主页
        .users
          -page_hot_users.each do |u|
            %a.avatar{:href=>"/users/#{u.id}",:tip=>u.name}
              =avatar u,:mini
        .p 祝你好运~
          

  .feed-paginate.padding5
    = will_paginate @feeds

.grid_4.omega.fright
  =render 'index/index_parts/getting_started'
  =render 'index/index_parts/feed_links'
