-#use 注册用户页
-#see 注册用户页

.signup-wrapper
  .desc
    .logo

    .to-login
      -if params[:service] == 'tu'
        如果你已经注册过了，请#{link_to '直接登录',pin_url_for('pin-daotu',login_path)}
      -else
        如果你已经注册过了，请#{link_to '直接登录',pin_url_for('pin-user-auth',login_path)}

    = flash_info

  .signup-form
    %h2 注册新用户
    - form_for @user do |f|
      = hidden_field_tag :service,params[:service]
      .field
        %label 电子邮箱
        = f.text_field :email,:maxlength=>50
        .quiet 必填，以后用来登录
      .field
        %label 用户名
        = f.text_field :name,:maxlength=>50
        .quiet 显示的名称，必填，以后可以修改
      .field
        %label 密码
        = f.password_field :password,:value=>'',:maxlength=>32
      .field
        %label 确认密码
        = f.password_field :password_confirmation,:value=>'',:maxlength=>32
      .field
        =link_to '<span>确认注册</span>','javascript:;',:class=>'signup-submit'