-require_css 'views/organizations'

-mindmaps = @organization.cooperate_edit_mindmaps
-show_dnotice = logged_in? && current_user.is_owner_of?(@organization) && mindmaps.blank?


.grid_14.alpha
  -if show_dnotice
    .dashboard-notice
      .title
        .font14
          你是
          %span.bold>=@organization.name
          的团队管理员
        .quiet
          这里有一些团队的操作提示，请阅读:)
      .body
        .p
          如果希望给团队增加成员，可以访问
          %span>=link_to '成员列表',"/organizations/#{@organization.id}/members"
          ，能够进行团队成员设置。
        .p
          如果需要修改团队名称，可以通过
          %span>=link_to '信息设置',"/organizations/#{@organization.id}/settings"
          进行设置。你也可以通过信息设置来解散这个团队。
        .p
          你可以在此直接
          %span>=link_to '创建思维导图',pin_url_for('pin-mindmap-editor',"organizations/#{@organization.id}/mindmaps/new")
          ，创建完毕后，所有团队成员都可以共同编辑这个导图。
        .p
          当你给这个团队创建了至少一个团队思维导图以后，该提示将不再显示。

  -if @organization.name_repeated?
    .flash-notice
      %span 团队的名称和其他团队有所重复，建议您修改以区分

  .activities-list
    -mplist @activities,:for=>Activity do |activity|
      =activity_to_html activity

.grid_9.omega.fright
  .mindmaps.yours
    .top-bar.clearfix
      .fleft.font14.bold
        思维导图(#{mindmaps.count})
      .fright
        =minibutton '创建',pin_url_for('pin-mindmap-editor',"organizations/#{@organization.id}/mindmaps/new")
        =minibutton '导入',pin_url_for('pin-mindmap-editor',"organizations/#{@organization.id}/mindmaps/import")
    .yours-list
      -if mindmaps.blank?
        .no-item
          团队没有协同导图，
          =link_to '创建团队导图',pin_url_for('pin-mindmap-editor',"organizations/#{@organization.id}/mindmaps/new")
          或者
          =link_to '导入团队导图',pin_url_for('pin-mindmap-editor',"organizations/#{@organization.id}/mindmaps/import")
      -else
        -mplist mindmaps,:for=>Mindmap do |m|
          %img.logo{:src=>'/images/logo/default_mindmaps_mini.png'}
          .title
            =link_to m.title,pin_url_for('pin-mindmap-editor',"/mindmaps/#{m.id}"),:target=>'_blank'

  
  