-#use 裁切上传的用户头像
-#see 用户设置->修改头像

-htitle "头像设置 裁剪头像"

- content_for :javascripts do
  = javascript_include_tag '/jsCropperUi/cropper'
  = javascript_include_tag '/javascripts/views/image_cut'

- width  = @temp_image_size[:width]
- height = @temp_image_size[:height]

- temp_image_url = "#{@temp_image_url}?#{randstr}"

.mside.grid_5
  =render 'account/parts/account_links'

.main.grid_19.ll
  .page-copper-avatar
    .old-img
      .font14.bold 上传的原始图片
      %img#img_with_preview{:src=>temp_image_url,:style=>"width:#{width}px;height:#{height}px;"}

    .cutted-img
      .font14.bold 裁剪后的图片
      #preview_wrap{:style=>'width:48px;height:48px;'}

    .form.aj-submit-form
      = form_tag "/account/avatared_submit_copper",:id=>"copper_form" do
        = hidden_field_tag :x1,     100
        = hidden_field_tag :y1,     100
        = hidden_field_tag :width , 200
        = hidden_field_tag :height, 200

        .field.sub
          = link_to '保存更改','javascript:;',:class=>'middlebutton blue a-link-submit'
          = link_to '取消',pin_url_for('pin-user-auth','/account/avatared'),:class=>'middlebutton gray account-cancel'

  