- 'views/users'

-content_for :javascripts do
  :javascript
    function already_reg_onsave(){
      jQuery('.already-reg-info').html('正在保存..');
    }
    function not_reg_onsave(){
      jQuery('.not-reg-info').html('正在保存..');
    }

    function already_reg_ok(){
      jQuery('.already-reg-info').html('保存成功');
      Element.addClassName($$('.already-reg')[0],'hide');
      Element.removeClassName($$('.not-reg')[0],'hide');
    }
    function not_reg_ok(){
      jQuery('.not-reg-info').html('保存成功');
      Element.addClassName($$('.not-reg')[0],'hide');
      Element.removeClassName($$('.all_success')[0],'hide');
    }

    function already_reg_fail(){
      jQuery('.already-reg-info').html('发生了错误，添加联系人失败')
    }
    function not_reg_fail(){
      jQuery('.not-reg-info').html('发生了错误，发送邀请失败')
    }

.grid_15.alpha
  =flash_info

  .already-contact
    %h3
      有
      %span.loud>#{@already_contact_email_actors.length}
      人已经是你的联系人
      -if @already_contact_email_actors.length > 0
        %span.show
          =link_to '显示','javascript:;',:onclick=>"Element.toggleClassName($$('ul.contact-list')[0],'hide')"

    %ul.contact-list.hide
      -@already_contact_email_actors.each do |actor|
        %li
          .clearfix
            .member-logo
              =avatar actor.email,:tiny
            .member-email
              =actor.email_name
  =hr

  - jump_to_step3 = @not_contacts_already_regeist_email_actors.blank?

  .already-reg{:class=>jump_to_step3 ? 'hide':''}
    %h3
      有
      %span.loud>#{@not_contacts_already_regeist_email_actors.length}
      人已经在Mindpin注册了，你可以添加TA们到你的联系人。

    -form_remote_tag :url=>"/invitations/import_contact",:create=>'already_reg_onsave();',:success=>"already_reg_ok();",:failure=>'already_reg_fail()' do
      %ul.contact-list
        -@not_contacts_already_regeist_email_actors.each do |actor|
          %li
            .clearfix
              .member-checkbox
                =check_box_tag 'emails[]',"#{actor.email}", true
              .member-logo
                =avatar actor.email,:tiny
              .member-email
                =actor.email_name

      =submit_tag "增加联系人"
      %span.already-reg-info.loud.marginl10
    

  .not-reg{:class=>jump_to_step3 ? '':'hide'}
    %h3
      还有
      %span.loud>#{@not_contact_not_regeist_email_actors.length}
      个联系人没有注册，邀请他们注册吧。

    -form_remote_tag :url=>"/invitations/import_invite",:create=>'not_reg_onsave();',:success=>"not_reg_ok();",:failure=>'not_reg_fail()' do
      %ul.contact-list
        -@not_contact_not_regeist_email_actors.each do |actor|
          %li
            .clearfix
              .member-checkbox
                =check_box_tag 'emails[]',"#{actor.email}", true
              .member-email
                =actor.email_name

      .mail_preview
        .title 邀请信预览：
        .data{:style=>'border:solid 1px #111; padding:10px 10px 30px 10px; margin-bottom:20px; margin-top:10px; background:#323546; color:white;'}
          =preview_email('invite')

      =submit_tag "发送邀请"
      %span.not-reg-info.loud.marginl10

  .all_success.hide.font14
    邀请信发送成功，邮箱联系人查找完毕。
    =link_to '点这里返回','/contacts_setting/import'